# temporary and local files
*.log
*.log.gz
*.rdb
*.bak
*.local

# ignore Eclipse config files
.classpath
.project
.settings/
*.ipr
*.iws
.factorypath
.springBeans

.vscode
*.test

# ignore IntelliJ IDEA config files
*.iml
.idea/
**/yarn.lock

# compiled code
target/
log/
**/build/
**/node/
**/target/
**/node_modules/
**/app-new/**/*.js
**/app-new-dist/

