application:
  name: cube-consumer
  topic: user-input

spring:
  redis:
    host: localhost
    port: 6379
  kafka.consumer:
    bootstrap-servers: localhost:9092
    group-id: pro_con_id
    key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
    properties:
      spring.json.trusted.packages: com.cube.procon.model
